<h1><%= @title %></h1>

<form action="/create" method="post" id="ad" enctype="multipart/form-data">
  <p>
    <label for="">Title:</label>
    <input type="text" name="ad[title]" id="title" />
  </p>
  <p>
    <label for="">Width:</label>
    <input type="text" name="ad[width]" id="width" />
  </p>
  <p>
    <label for="">Height:</label>
    <input type="text" name="ad[height]" id="height"/>
  </p>
  <p>
    <label for="">Filename:</label>
    <input type="text" name="ad[filename]" />
  </p>
  <p>
    <label for="">Url:</label>
    <input type="text" name="ad[url]" id="url" />
  </p>
  <p>
    <label for="Image File"></label>
    <input type="file" name="image" id="image" />
  </p>
  <p>
    <input type="submit" />
  </p>
</form>
